<main>
    <h1>
        <%= title %>
    </h1>

    <% if (message && message.length> 0) { %>
        <div class="notice">
            <%= message %>
        </div>
        <% } %>

            <% if (errors && errors.length> 0) { %>
                <ul class="errors">
                    <% errors.forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <% if (account_type==="Client" ) { %>
                        <h2>Welcome <%= userName %>
                        </h2>
                        <p><a href="/account/update/<%= userId %>">Update Account Information</a></p>
                        <% } else if (account_type==="Employee" || account_type==="Admin" ) { %>
                            <h2>Welcome <%= userName %>
                            </h2>
                            <p><a href="/account/update/<%= userId %>">Update Account Information</a></p>
                            <h3>Inventory Management</h3>
                            <p><a href="/inv/">Access Inventory Management</a></p>
                            <% } else { %>
                                <h2>Welcome Guest</h2>
                                <% } %>

                                    <p>You’re logged in.</p>
</main>