<main>
    <h1>Delete Vehicle</h1>
    <p>Confirm Deletion - The delete is permanent.</p>

    <% if (errors && errors.length> 0) { %>
        <ul class="error-messages">
            <% errors.forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <form id="deleteForm" action="/inv/delete/" method="post">
                <fieldset>
                    <legend>Vehicle Information</legend>

                    <label for="inv_make">Make</label>
                    <input type="text" id="inv_make" name="inv_make" value="<%= inv_make %>" readonly>

                    <label for="inv_model">Model</label>
                    <input type="text" id="inv_model" name="inv_model" value="<%= inv_model %>" readonly>

                    <label for="inv_year">Year</label>
                    <input type="text" id="inv_year" name="inv_year" value="<%= inv_year %>" readonly>

                    <label for="inv_price">Price</label>
                    <input type="text" id="inv_price" name="inv_price"
                        value="<%= inv_price.toLocaleString('en-US', {style: 'currency', currency: 'USD'}) %>" readonly>

                    <input type="hidden" name="inv_id" value="<%= inv_id %>">

                    <button type="submit" class="delete-btn">Delete</button>
                </fieldset>
            </form>
</main>